Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2010.csv
Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2011.csv
Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2012.csv
Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2013.csv
Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2014.csv
Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2015.csv
Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2016.csv
Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2017.csv
Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2018.csv
Rendimiento escolar 2010-2019 en Chile/datasets/Rendimiento por estudiante 2019.csv
